@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: black;
    font-size: 400%;
    margin: 0;
    width:600px;
}

p {
    color: black;
    font-size: 105%;
    text-align: center;
    font-size: 100%;
}

.blog {
    color: black;
    font-size: 105%;
    text-align: left;
    line-height: 1.6;
    width:900px;
}

.date {
    color: gray;
    font-size: 105%;
    text-align: left;
    line-height: 1.6;
}

.test {
    color: gray;
    font-size: 600%;
    text-align: left;
    padding-top: 100px;
    padding-left: 100px;
    width:100%;
}

.city-header {
    color: gray;
    font-size: 300%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: black;
    font-size: 100%;
    margin: 0;
    width:600px;
}

h3 {
    color: black;
    font-size: 300%;
    margin: 0;
    width:600px;
}

.img01{
  float:left;
  margin-left:675px;
}

video::-webkit-media-controls {
  display: none !important;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}
