@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

.intro {
    font-size: 30px;
}

.links {
    font-size: 20px;
}

body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border-radius:50%;
}

:root {
    --mainColor: #F25B44;
}

a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,<svg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><style type='text/css'>.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}</style><path fill='none' stroke='%23F25B44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  @media screen and (max-width: 992px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    .intro {
        font-size: 25px;
    }

    .links {
        font-size: 15px;
    }

  }