@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    font-family: 'Luckiest Guy', cursive;
}
body {
    background-color: #f16059;
    color: #222;
    text-align: center;
    padding-top: 5%;
  }

  h1 {
      font-size: 75px;
  }

  p, input, button {
      font-size: 25px;
  }

  input:hover, button:hover{
      background-color: cyan;
  }

  button, input {
      cursor: pointer;
  }

  .home {
      float:right;
      padding-right: 45px;
      padding-top: 15px;
  }