@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: 'Abril Fatface', cursive;
}

body {
    background-color: salmon;
    padding-top: 20px;
    text-align: center;
}

h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    padding-top: 30px;
}

.home a{
    color: black;
}

#enter {
    background-color: black;
    color: honeydew;
    border: none;
    border-radius: 10%;
    padding: 5px;
    margin-left: 8px;
}

#enter:hover {
    background-color: white;
    color: black;
}

ul {
    text-align: left;
    margin-top: 20px;
}

.listItems {
    padding-left: 25%;
    padding-right: 25%;
}

li {
    list-style: none;
    color: black;
    padding: 5px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;
}

li:hover {
    background-color: bisque;
}

li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    font-weight: 800;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: black;
    background-color: white;
}

.done {
    background: #51DF70 !important;
    color: #00891E;
}

.delete {
    display: none;
}
