* {
    font-family: 'Georgia', serif;
}

body {
    background-color: whitesmoke;
    text-align: center;
    padding-top: 5%;
}

input, #itemtip {
    background-color: bisque;
}

p, h1 {
    color: darkgoldenrod;
}

#myButton:hover {
    background-color: whitesmoke;
    transform: scale(1.1);
}

#myButton, input, #itemtip:focus {
    outline-color: darkgoldenrod;
}